#all {
	height: 100vh;
	width: 100vw;
	background-color: #77C9D4;
	background: url("images/street.png"), -webkit-linear-gradient(to right, #77C9D4, #57BC90);
	background: url("images/street.png"), -o-linear-gradient(to right, #77C9D4, #57BC90);
	background: url("images/street.png"), -moz-linear-gradient(to right, #77C9D4, #57BC90);
	background: url("images/street.png"), linear-gradient(to right, #77C9D4, #57BC90);
	font-family: "Roboto", Garamond, sans-serif;
	text-align: center;
}

#header {
	padding-top: 35vh;
}

h1 {
	color: #015249;
	font-size: 60pt;
	letter-spacing: 1pt;
}

h2 {
	padding-top: 8px;
	color: #015249;
	font-size: 16pt;
}

#icons {
	padding: 40px;
	word-spacing: 10pt;
}